  .bd-sidebar-secondary .bd-toc {
      display: none;
  }

  .bd-article-container {
      max-width: none;
  }

  button.theme-switch-button {
    display: none !important;
}

footer {
    margin-top: auto;
}

.sidebar-secondary-item {
    border-left: none;
}

.logo {
    padding: 40px;
    height: 220px;
    display: flex;
}