.bd-sidebar-secondary .bd-toc {
      display: none;
  }

.bd-article-container {
    max-width: -webkit-fill-available !important;
}

button.theme-switch-button {
    display: none !important;
}

footer {
    margin-top: auto;
}

.sidebar-secondary-item {
    border-left: none;
}

.logo {
    padding: 40px;
    height: 220px;
    display: flex;
}
/* .bd-sidebar-primary {
    display: none;
} */

/* .bd-header-article{
    display: none;
} */

.bd-page-width {
    max-width: 100%;
}


.bd-search .search-button__kbd-shortcut{
    padding: inherit;
    position: inherit;
}

form.bd-search {
    border-radius: 50px;
    padding-right: 5px;
    padding-left: 10px;
}

@media (min-width: 992px) {
    div.cell.tag_full-width, div.cell.tag_full_width, div.full-width, div.full_width {
        width: -webkit-fill-available;
    }
}
.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: var(--text-color);
    font-size: 24px;
    margin-right: 15px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
    color: var(--text-color-logo-blue);
    transform: translateY(-2px);
}

.sidebar-secondary-items {
    flex-direction: column;
}

.ablog__prev-next {
    display: none;
}

.disqus-footer{
    display: none;
}